<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>

  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <img src="<%= item.img %>" alt="Imagen" style="width:100px;height:auto;">
        <p><%= item.text %></p>
      </li>
    <% }) %>
  </ul>

  <button onclick="window.location.href='/login'">Login</button>
</body>
</html>
